.Container{
    width: 250px;
 background-color:rgb(163, 163, 153); 
 margin-left: 40%;
 border-radius: 5px;
}
.btn1{
    width:70px;
    background-color: rgb(224, 154, 32);
    border:0 solid;
    border-radius: 1.5em; 
    color: antiquewhite;
}